/*------------- START CHECKBOX FORM ----------------- */

.checkbox-form {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 300px;
  background-color: $text-color;
  color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  z-index: 4;
  right: 0px;
  top: 11vh;
  margin-right: 0.75rem;
  margin-top: .5rem;
  @include small-screen {
    top: 15vh;
    margin-right: 2.75rem;
  }
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  margin-top: .5rem;
  border-right: 12px solid transparent;
  border-bottom: 12px solid $text-color;
  position: absolute;
  z-index: 4;
  right: 40px;
  top: 9.5vh;
  @include small-screen {
    top: 13.3vh;
    // margin-right: 1.75rem;
    margin-right: 8.5rem;
  }
}

.search-bar {
  display: flex;
  margin: 0.5rem;
}

.cloak {
  visibility: hidden;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.search-icon,
.clear-icon {
  height: 6vh;
  width: 6vh;
}

.clear-icon:hover {
  border: 0.1rem solid black;
  box-sizing: border-box;
  cursor: pointer;
}

input {
  margin: .5rem;
  margin-left: .75rem;
}

.search-input {
  display: flex;
  border: none;
  height: 6vh;
  width: 15.2rem;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  border-radius: 0;
  overflow: hidden;
}

.random-checkbox,
.character-checkbox {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.character-checkbox {
  height: 25vh;
  overflow: auto;
}

label:hover,
input:hover,
button:hover {
  cursor: pointer;  
} 

.submit-button {
  height: 6vh;
  width: 95%;
  margin: 0.5rem;
  font-size: 20px;
  font-weight: bold;
}

/*------------- END CHECKBOX FORM ----------------- */