$text-color: #689cc5;
$link-color: white;
$background-character-box: white;
$mediumscreen: 1025px;
$smallscreen: 640px;


// $text-white: white;
// $hover-color: black;
// $font-styles: (
//   "regular": sans-serif,
//   "script": cursive,
// );