body {
  background: purple;
}

html,
body,
.character-boxes {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif, 'Roboto';
  /* font-family: 'Freckle Face', cursive; */
  /* font-family: 'Luckiest Guy', cursive; */
  overflow: hidden;
}

/* ---------------- HEADER --------------- */
.header {
  background-color: #2B2B2B;
  height: 20vh;
  color: white;
}

.admin,
.admin-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  font-size: 1.2rem;
  color: #689cc5;
}

h1 {
  text-align: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  height: 5vh;
  width: 5vh;
  margin-left: 2vh;
}

.nav-links {
  color: white;
}

.logo-image {
  margin-left: 1vw;
}

/* ---------------- MAIN --------------- */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: whitesmoke;
}

/* ----------------- DEFAULT MEDIUM SCREEN -------------- */
/* @media screen and (min-width: 640px) and (max-width: 1024px){ */
.character-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 1.2rem;
}

.select-characters {
  border: none;
  height: 4rem;
  width: 15rem;
  margin-left: auto;
  margin: 0.5rem .75rem 0.5rem auto;
  padding: 2px;
  padding-left: .75rem;
  padding-right: .75rem;
  background-color: #689cc5;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  white-space: nowrap;
}

span {
  font-size: 14px;
}

.checkbox-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
  width: 300px;
  background-color: #689cc5;
  color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  z-index: 4;
  right: 0px;
  top: 11vh;
  margin-right: 0.75rem;
  margin-top: .5rem;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  margin-top: .5rem;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #689cc5;
  position: absolute;
  z-index: 4;
  right: 40px;
  top: 9.5vh;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
}

.cloak {
  visibility: hidden;
}

.hidden {
  display: none;
}

.search-icon,
.clear-icon {
  height: 6vh;
  width: 6vh;
}

.clear-icon:hover {
  border: 0.1rem solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  height: 6vh;
  width: 15.2rem;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  border-radius: 0;
  overflow: hidden;
}

.random-checkbox,
.character-checkbox {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.character-checkbox {
  height: 25vh;
  overflow: auto;
}

label:hover,
input:hover,
button:hover {
  cursor: pointer;
}

.submit-button {
  height: 6vh;
  width: 95%;
  margin: 0.5rem;
  font-size: 20px;
  font-weight: bold;
}

.show {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.load-icon-containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.load-icon {
  height: 30vh;
  width: 30vh;
}

.character-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 66vh;
  overflow: scroll;
}

.character-box {
  border: .01em solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 425px;
  width: 325px;
  margin: 1vh;
  background: white;
  -webkit-box-shadow: 5px 0px 5px gray;
          box-shadow: 5px 0px 5px gray;
  overflow: scroll;
  position: relative;
}

.character-box:hover {
  background-color: red;
  background-color: lightsteelblue;
  background-color: royalblue;
  background-color: black;
  background-color: #689cc5;
  color: white;
  color: black;
}

input {
  margin: .5rem;
  margin-left: .75rem;
}

.tint-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 25vh;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.arrow-image {
  height: 10vh;
  width: 10vh;
  background-color: #689cc5;
}

.container-image {
  height: 25vh;
  width: 100%;
  z-index: 1;
}

.name-text,
.description-text,
.count-text {
  margin-left: 1.5vh;
  margin: .25vh 1.5vh .25vh 1.5vh;
}

.name-text {
  font-size: 1.5rem;
  font-weight: 900;
}

.description-text {
  font-style: italic;
}

.count-text {
  font-weight: bold;
}

.url-box {
  border: 0.1rem solid black;
  height: 5vh;
  margin: 1vh 1.5vh 1vh 1.7vh;
  text-align: center;
  font-size: 20px;
  background: white;
  background-color: white;
  text-decoration: none;
}

.url-box:hover {
  cursor: pointer;
}

.marvel-attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding-right: 1vw;
}

/* ----------------- MEDIA QUERY SMALL SCREEN -------------- */
@media screen and (max-width: 1025px) {
  h1 {
    text-align: center;
  }
  .page-header {
    margin-top: 2.5rem;
  }
}

/* ----------------- MEDIA QUERY SMALL SCREEN -------------- */
@media screen and (max-width: 640px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: white;
    height: 18vh;
  }
  .admin {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 5vh;
    margin: 0;
  }
  .admin-box {
    display: none;
  }
  .detail-text {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .character-boxes {
    height: 60vh;
  }
  nav {
    border: 0.1 solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
  .todo-icon {
    margin-left: 0;
  }
  .character-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .checkbox-menu {
    top: 15vh;
    margin-right: 2.75rem;
  }
  .arrow-up {
    top: 13.3vh;
    margin-right: 1.75rem;
    margin-right: 8.5rem;
  }
  .select-characters {
    margin: 0;
    margin-bottom: 0.5rem;
    height: 2rem;
  }
  .marvel-attribution {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
/*# sourceMappingURL=main.css.map */