html, 
body,
.character-boxes {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;  
  font-family: 'Roboto', sans-serif;
}

/* ---------------- HEADER --------------- */
.header {
  background-color: #2B2B2B;
  height: 20vh;
  color: white;
}

.admin,
.admin-box {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-bottom: 2vh;
  padding: 1vh;
  font-size: 1.2rem;
  color: #689cc5;
}

.admin-small-screen {
  display: none;
}

.admin-image {
  height: 5vh;
  width: 5vh;
  margin-right: 1vh;
}

.admin-image2 {
  height: 3vh;
  width: 3vh;
  margin-left: 1vh;
}

nav {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  height: 5vh;
  width: 5vh;
  margin-left: 2vh;
}

.nav-links {
  color: white;
}

.logo-image {
  margin-left: 1vw;
}

/* ---------------- MAIN --------------- */
main {
  display: flex;
  flex-direction: column;
  background: whitesmoke; 
}

/* ----------------- DEFAULT MEDIUM SCREEN -------------- */
/* @media screen and (min-width: 640px) and (max-width: 1024px){ */

.character-nav {
  display: flex;
  position: relative;
}

.select-characters {
  border: none;
  height: 4rem;
  width: 11rem;
  margin-left: auto;
  margin: 0.5rem .75rem 0.5rem auto;
  padding: 2px;
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

/* .select-characters:hover {
  box-sizing: border-box;
  cursor: pointer;  
}  */

.checkbox-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 300px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  z-index: 4;
  right: 0px;
  top: 11vh;
  margin-right: 0.75rem;
  /* margin-top: 1rem; */
  margin-top: .5rem;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid black;
  position: absolute;
  z-index: 4;
  right: 40px;
  top: 9.5vh;
  margin-top: .5rem;
}

.search-bar {
  display: flex;
  margin: 0.5rem;
}

.cloak {
  visibility: hidden;
}

.hidden {
  display: none;
}

.search-icon,
.clear-icon {
  height: 6vh;
  width: 6vh;
}

.clear-icon:hover {
  border: 0.1rem solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.search-input {
  display: flex;
  border: none;
  height: 6vh;
  /* width: 100%; */
  width: 15.2rem;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  border-radius: 0;
  /* width: 14.7rem; */
  overflow: hidden;
}

/* .search-input:hover {
  cursor: pointer;
} */

.random-checkbox,
.character-checkbox {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.character-checkbox {
  height: 25vh;
  overflow: auto;
}

label:hover,
input:hover,
button:hover {
  cursor: pointer;  
} 

.submit-button {
  height: 6vh;
  width: 95%;
  margin: 0.5rem;
  font-size: 20px;
  /* margin-left: 0.2rem; */
}

.show {
  display: block;
  display: flex;
}

h1 {
  margin-left: 1.2vw;
}

.animation-containter {
  display: flex;
  justify-content: center;
}

.get-message-animation {
  height: 20vh;
  width: 20vh;
}

.character-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 66vh;
  overflow: scroll;
}

.character-box {
  border: .01em solid black;
  display: flex;
  flex-direction: column;
  height: 425px;
  width: 325px;
  margin: 1vh;
  /* padding: 5px; */
  background: white;
  box-shadow: 5px 0px 5px gray;
  overflow: scroll;
  position: relative;
}

input {
  margin: .5rem;
  margin-left: .75rem;
}

.text-overlay-1 {
  margin: 2vh;
  color: black;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  z-index: 2;
	text-shadow: -1px 1px 0 white,
				  1px 1px 0 white,
				 1px -1px 0 white;
				-1px -1px 0 white;
}

.text-overlay-2 {
  margin: 6vh;
  margin-left: 2.5vw;
  color: black;
  font-size: 35px;
  font-weight: 900;
  position: absolute;
  z-index: 2;
	text-shadow: -1px 1px 0 white,
				  1px 1px 0 white,
				 1px -1px 0 white;
				-1px -1px 0 white;
}

.tint-overlay {
  background-color: rgba(0,0,0,.3);
  height: 25vh;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.arrow-image {
  height: 10vh;
  width: 10vh;
}

.text-overlay-3 {
  margin-top: 15vh;
  margin-left: 2vh;
  color: white;
  position: absolute;
  z-index: 3;
}

.container-image {
  height: 25vh;
  width: 100%;
  z-index: 1;
  background: 
}

.name-text, 
.description-text,
.count-text {
  margin-left: 1.5vh;
  margin: .25vh 1.5vh .25vh 1.5vh; 
}

.name-text {
  font-size: 1.5rem;
  font-weight: bolder;
}

.description-text {
  font-style: italic;
}

.count-text {
  font-weight: bold;
}

.url-box {
  background: lightgray;
  height: 5vh;
  margin: 1vh 1.5vh 1vh 1.7vh;
  text-align: center;
  text-decoration: none;
}

.marvel-attribution {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  /* height: 100%; */
  padding-right: 1vw;
}


 /* } */

/* ----------------- MEDIA QUERY SMALL SCREEN -------------- */
@media screen and (max-width: 1025px) {

  h1 {
    text-align: center;
  }

}

/* ----------------- MEDIA QUERY SMALL SCREEN -------------- */
  @media screen and (max-width: 640px) { 

  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    height: 20vh;
  }

  .admin {
    justify-content: center;
    height: 5vh;
  }

  .admin-box {
    display: none;
  }
  
  .admin-small-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    padding: 1vh;
    font-size: 1rem;
    color: #689cc5;
  }
  
  .admin-image {
    height: 5vh;
    width: 5vh;
    margin-right: 1vh;
  }
  
  .admin-image2 {
    height: 3vh;
    width: 3vh;
    margin-left: 1vh;
  }

  .character-boxes {
    height: 60vh;
  }
  
  nav {
    border: 0.1 solid white;
    display: flex;
    justify-content: center;
  }
  
  .nav-icon {
    margin-left: .25vh;
  }
  
  .logo-image {
    height: 20vh; 
    width: 25vh;
  }

  .character-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  h1 {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
  }

  .checkbox-menu {
    top: 13vh;
    margin-right: 2.75rem;
  }

  .arrow-up {
    top: 11vh;
    margin-right: 1.75rem;

    top: 11.2vh;
    margin-right: 8.5rem;
  }

  .select-characters {
    margin: 0;
    margin-bottom: 1rem;
    height: 2rem;
  }

  .marvel-attribution {
    justify-content: center;
    align-content: center;
  }
  
}

/* ----------------- MEDIA QUERY LARGE SCREEN -------------- */
/* @media screen and (min-width: 1024px) {
  //TBD
} */
